* {
    margin: 0;
    padding: 0;
}

.main {
    width: 1470px;
    margin: auto;
}

.wrapper {
    width: 415px;
    height: 434px;
    float: left;
    position: relative;
}

.wrapper b {
    position: absolute;
    top: 216px;
    left: 270px;
}

.player2 {
    display: none;
}

table {
    float: left;
    border: 1px solid black;
    border-collapse: collapse;
    height: 500px;
    width: 500px;
    margin: auto;
}

td {
    border: 1px solid black;
    text-align: center;
    line-height: 150px;
    height: 100px;
    width: 100px;
}

.coverCircle {
    background-size: cover !important;
    background: url(../img/circle-outline-xxl.png);
}

.coverCross {
    background-size: cover !important;
    background: url(../img/cross_remove_no_image_delete_exit.png);
}